.chart-container {
    margin-right: 40px;
    height: 200px;
    width: 200px;
}

.report-container {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.report-summary {
    width: calc(100vw - 743px);
}

.report-summary-stats {
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: flex-end;
    padding-top: 10px;
}

.commit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.8rem;
    height: 60px;
    max-height: 50px;
    border: 1px dashed var(--secondary-color-very-lowalpha);
    background-color: var(--rule-item-background);
    text-align: right;
    padding: 5px;
}
.commit-changed {
    display: block;
    margin-bottom: 10px;
    font-size: 0.8rem;
    color: var(--secondary-color);
}

.commit-date {
    color: var(--neon-pink);
    display: inline-block;
    border: 1px solid var(--neon-pink);
    padding: 1px 3px 1px 3px;
}

section.report-header {
    height: 220px;
    overflow: hidden;
}

@media only screen and (max-width: 1000px) {
    .report-summary  {
        display: none;
    }
    .report-container {
      justify-content: space-between;
    }

    .chart-container {
        margin-right: 0;
        height: 85px;
        width: 86px;
    }

    section.report-header {
        height: 150px;

    }



}
