

#main_container {
  padding: 25px 25px 0 25px;
  font-family: var(--font-stack);
}

#root {
  height: 100vh
}
hr {
  border: none;
  border-bottom: 1px dashed var(--secondary-color);
}

.height-200 {
  height: 200px;
}

.height-300 {
  height: 300px;
}

.height-400 {
  height: 400px;
}

.height-500 {
  height: 500px;
}

.width-100 {
  width: 100px;
}

.width-150 {
  width: 150px;
}

.m-top-20 {
  margin-top: 20px;
}

.m-bottom-20 {
  margin-bottom: 20px;
}

.width-200 {
  width: 200px;
}

.width-300 {
  width: 300px;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-flow: wrap;
}

.flex-center {
  justify-content: center;
}

.ant-tree, .ant-tree .ant-tree-switcher-noop {
  background: none!important;
}

.ant-tree-show-line .ant-tree-switcher {
  background: none!important;
}

.ant-tree .ant-tree-node-content-wrapper {
  border: 1px solid transparent;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  border: 1px dashed var(--primary-color);
  background: none;
  color: var(--primary-color)!important;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected .tree-title {
  color: var(--primary-color)!important;
}

.breaking-change {
  color: var(--error-color)
}


.tree-holder {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow-y: auto;
  flex-grow: 2;
}


.tree-scroller {
  height: 60vh;
  overflow-y: auto
}

.diff-view {
  height: 60vh;
  overflow-y: auto
}


.tree-scroller::-webkit-scrollbar {
  width: 8px;
}

.tree-scroller::-webkit-scrollbar-track {
  background-color: var(--invert-font-color);
}

.tree-scroller::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: var(--secondary-color-lowalpha);
}



#flow {
  width: 100%;
  height: 100vh;
}
.App {
  text-align: center;
  width: 100vw;
  height: 100vh;

}

.node {
 position: fixed;
  pointer-events: none;
}

.node:hover {
  border: 1px solid red;
}

.node > svg {
  height: 1.3em;
  width: 1.3em;
  vertical-align: middle;
}


.ant-tabs-tab {
  border-radius: 0px!important;
  background: var(--background-color)!important;
  border: 1px dashed var(--secondary-color-very-lowalpha)!important;
  border-bottom: 1px dashed var(--secondary-color)!important;
}
.ant-tabs-tab-active {
  /*margin-bottom: 10px!important;*/
  border: 1px dashed var(--secondary-color)!important;
  border-bottom: 1px dashed var(--background-color)!important;

}
.ant-tabs-nav::before {
  border-bottom: 1px dashed var(--secondary-color)!important;
}


.App-logo {
height: 40vmin;
pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
.App-logo {
animation: App-logo-spin infinite 20s linear;
}
}

.App-header {
background-color: #0d1117;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
}

.App-link {
color: #61dafb;
}

@keyframes App-logo-spin {
from {
transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}
