

#root {
  flex: 1 0 auto;
}

#main_container {
  font-family: var(--font-stack);
  flex: 1 0 auto;
  width: 100vw;
  animation: fadeInAnimation ease-out 600ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    padding-top:100px;
    width: 90%;
    margin-left: 100px;
    filter: blur(1.5rem);
  }
  100% {
    opacity: 1;
    padding-top: 0;
    width: 100%;
    margin-left: 0;
    filter: blur(0);
  }
}


@keyframes fadeInAnimationMobile {
  0% {
    opacity: 0;
    padding-top:100px;
    width: 90%;
    filter: blur(1.5rem);
  }
  100% {
    opacity: 1;
    padding-top: 0;
    width: 100%;
    filter: blur(0);
  }
}


hr {
  border: none;
  border-bottom: 1px dashed var(--secondary-color);
  margin-block-end: 0;
  margin-block-start: 0;
}

.height-100 {
  height: 100px;
}

.height-120 {
  height: 120px;
}

.height-150 {
  height: 150px;
}
.height-180 {
  height: 180px;
}


.height-200 {
  height: 200px;
}

.height-300 {
  height: 300px;
}

.height-400 {
  height: 400px;
}

.height-500 {
  height: 500px;
}

.width-100 {
  width: 100px;
}

.width-150 {
  width: 150px;
}

.m-top-20 {
  margin-top: 20px;
}

.m-bottom-20 {
  margin-bottom: 20px;
}

.width-200 {
  width: 200px;
}

.width-300 {
  width: 300px;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-flow: wrap;
}

.flex-center {
  justify-content: center;
}


.report-changes {
  width: 100%
}

section.report-header > header {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  height: 40px;
}

body[data-embedded] section.report-header > header {
  padding-top: 10px;
}



.breaking-change {
  color: var(--error-color)
}




#flow {
  width: 100%;
  height: 100vh;
}
.App {
  text-align: center;
  width: 100vw;
  height: 100vh;

}

.node {
 position: fixed;
  pointer-events: none;
}

.node:hover {
  border: 1px solid red;
}

.node > svg {
  height: 1.3em;
  width: 1.3em;
  vertical-align: middle;
}

.ant-tabs >.ant-tabs-nav {
  margin-bottom: 0!important;
}

.ant-tabs-tab {
  border-radius: 0px!important;
  background: var(--background-color)!important;
  border: 1px dashed var(--secondary-color-very-lowalpha)!important;
  border-bottom: 1px dashed var(--secondary-color)!important;
}
.ant-tabs-tab-active {
  /*margin-bottom: 10px!important;*/
  border: 1px dashed var(--secondary-color)!important;
  border-bottom: 1px dashed var(--background-color)!important;

}
.ant-tabs-nav::before {
  border-bottom: 1px dashed var(--secondary-color)!important;
}

footer {
  font-size: 0.6em;
  background-color: var(--background-color);
}

body[data-embedded] footer {
  display: none;
}



.identical-specs {
  position: absolute;
  width: 600px;
  height: 500px;
  top: calc(50vh - 250px);
  left: calc(50vw - 300px);
  text-align: center;
}
.identical-smile {
  margin-bottom: 30px;
  font-size: 200px;
  color: var(--primary-color);
}


@media only screen and (max-width: 1000px) {

  #main_container {
    animation: fadeInAnimationMobile ease-out 600ms;
  }

  footer {
    font-size: 0.6em;
  }

  #main_container {
    width: calc(100vw - 10px);
  }

  .report-changes {
    height: calc(100vh - 160px);
  }

  .identical-specs {
    position: absolute;
    width: 300px;
    height: 200px;
    top: calc(50vh - 200px);
    left: calc(50vw - 150px);
    text-align: center;
  }
  .identical-smile {
    margin-bottom: 30px;
    font-size: 200px;
    color: var(--primary-color);
  }


}
