:root {
    --focus-border: orange;
    --separator-border: #ff0000;
    --global-font-size: 17px;
    --toc-font-size: 0.7rem;
    --breadcrumb-font-size: 0.75rem;
    --childnav-font-size: 0.75rem;
    --nav-font-size: 0.95rem;
    --toc-font-header-size: 0.85rem;
    --rule-item-header-fontsize: 1.2rem;
    --rule-item-header-fontsize-mobile: 1rem;
    --rule-item-details-fontsize: 0.8rem;
    --rule-format-fontsize: 0.8rem;
    --rule-type-fontsize: 0.7rem;
    --rule-severity-fontsize: 0.8rem;
    --rule-recommended-fontsize: 0.7rem;
    --rule-function-fontsize: 0.8rem;
    --rule-recommended-banner-fontsize: 1rem;
    --rule-panel-label: 0.7rem;
    --rule-id-fontsize: 2rem;
    --rule-id-fontsize-mobile: 1.3rem;
    --global-line-height: 1.4em;
    --global-space: 10px;
    --vacuum-navigation-width-v: 199px;
    --vacuum-navigation-width: 200px;
    --font-stack: Menlo, Monaco, Roboto Mono, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
    serif;
    --mono-font-stack: Menlo, Monaco, Roboto Mono, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
    serif;
    --background-color: #0d1117;
    --background-color-alpha: rgba(13, 17, 23, 0.80);
    --background-color-alpha-mobile: rgba(13, 17, 23, 0.99);
    --rule-item-background: rgba(26, 32, 44, 0.51);
    --rule-recommended-background: rgb(33, 41, 55);
    --rule-stats-background: #0a0a0a;
    --rule-item-border: rgba(35, 43, 58, 0.9);
    --navigation-hover: #b685ff33;
    --navigation-child-selected: rgba(182, 133, 255, 0.36);
    --navigation-child-hover: rgba(179, 131, 250, 0.09);
    --navigation-child-container: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(182,133,255,0.2) 50%);
    --vacuum-online-results-background: linear-gradient(180deg, rgba(13, 17, 23,1) 0%, rgba(223, 222, 225, 0.12) 50%);
    --page-width: 65em;
    --font-color: #e8e9ed;
    --dark-font-color: #a5a5a5;
    --invert-font-color: #222225;
    --global-padding: 10px;
    --secondary-color: #f83aff;
    --secondary-color-dimmer: rgba(248, 58, 255, 0.45);
    --secondary-color-text-shadow: rgba(250, 113, 251, 0.5);
    --secondary-color-text-shadow-outer: rgba(251, 169, 255, 0.14);
    --secondary-color-lowalpha: rgba(248, 58, 255, 0.30);
    --secondary-color-very-lowalpha: rgba(248, 58, 255, 0.05);
    --secondary-color-shadow: rgb(59, 41, 87);
    --secondary-color-shadow-mid: rgb(78, 54, 114);
    --tertiary-color: #a3abba;
    --terminal-border: rgba(76, 81, 91, 0.5);
    --terminal-header-background: linear-gradient(90deg, rgba(76, 81, 91, 0.5) 0%, rgba(76, 81, 91, 0.1) 80%);
    --primary-color: rgba(98, 196, 255, 1.0);
    --primary-color-lowalpha: rgba(98, 196, 255, 0.6);
    --primary-color-verylowalpha: rgba(98, 196, 255, 0.2);
    --error-color: #ff3c74;
    --error-font-color: #ff246b;
    --error-color-lowalpha: rgba(255, 60, 116, 0.4);
    --error-color-verylowalpha: #0c0000;
    --progress-bar-background: #0a0a0a;
    --progress-bar-fill: #62c4ff;
    --code-bg-color: none;
    --input-style: solid;
    --display-h1-decoration: none;
    --bold-text:  #f83aff;
    --terminal-green: #00FF00FF;
    --terminal-yellow: #fddb00;
    --hrcolor: #3d3d3d;
    --code-border: #525252;
    --string-literal: #f83aff;
    --neon-pink:  #f83aff;
    --warn-400: #ff6a00;
    --warn-400-lowalpha: rgba(255, 106, 0, 0.15);
    --warn-300: #ff9900;
    --warn-300-lowalpha: rgba(255, 153, 0, 0.05);
    --warn-200: #ffb700;
    --warn-200-lowalpha: rgba(255, 183, 0, 0.15);
    --warn-color: #ffd500;
    --warn-color-lowalpha: rgba(255, 213, 0, 0.15);
    --ok-400: #f7ff00;
    --ok-400-lowalpha: rgba(230, 255, 0, 0.15);
    --ok-300: #d0ff00;
    --ok-300-lowalpha: rgba(208, 255, 0, 0.15);
    --ok-200: #aaff00;
    --ok-200-lowalpha: rgba(170, 255, 0, 0.15);
    --ok-color: #1aff00;
    --ok-color-lowalpha: rgba(170, 255, 0, 0.15);
}