<!DOCTYPE html>
<html lang="en" theme="dark" class="sl-theme-dark">
{{- template "header" . -}}
<body>
<div class="preloader" id="preloader">
    <div class="ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <br/>
    OpenAPI Changes report is loading...
</div>
<div id="app"></div>
<script type="application/json" id="report-data">
{{ .Report }}
</script>
{{- if not .TestMode -}}
    {{- if not .UseCDN -}}
    <script>
        {{ .BundledJS }}
    </script>
    {{- else -}}
        <script src="{{- .JsCDN -}}" async></script>
    {{- end -}}
{{- else -}}
    <script src="http://localhost:5173/src/main.ts" type="module"></script>
{{- end -}}
</body>
</html>
