<!DOCTYPE html>
<html lang="en">
{{- template "header" . -}}
<body {{ if .EmbeddedMode }}data-embedded="true"{{ end }} style="background-color: var(--background-color)">
<div class="preloader" id="preloader">
    <div class="ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <br/>
    OpenAPI Changes report is loading...
</div>
<div id="root">
</div>
</body>
<script>
    if (window.parent) {
        window.parent.postMessage("started", "*");
    }
    let rawData = {{ .Report }};
    window.data = JSON.parse(JSON.stringify(rawData));
</script>
{{- if not .TestMode -}}
    {{- if not .UseCDN -}}
    <script>
        {{ .BundledJS }}
    </script>
    {{- else -}}
        <script src="{{- .JsCDN -}}" async></script>
    {{- end -}}
{{- else -}}
    <script src="http://localhost:3000/bundle.js"></script>
{{- end -}}
</html>