name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: ^1.24
        id: go

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Get dependencies
        run: |
          go get -v -t -d ./...
          if [ -f Gopkg.toml ]; then
              curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
              dep ensure
          fi
      - name: Test
        run: go test ./...
      - name: Build
        run: make build
      - name: Clean modcache
        run: go clean -modcache

  build-report-ui:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 20.x ]
    steps:
      - uses: actions/checkout@v5
        name: Checkout repository

      - name: setup node ${{matrix.node-version}}
        uses: actions/setup-node@v5
        with:
          node-version: ${{matrix.node-version}}

      - name: Install yarn
        run: yarn install
        working-directory: html-report/ui

      - name: Build
        run: yarn build
        working-directory: html-report/ui
