
.ant-tree, .ant-tree .ant-tree-switcher-noop {
    background: none!important;
}

.ant-tree-show-line .ant-tree-switcher {
    background: none!important;
}

.ant-tree .ant-tree-node-content-wrapper {
    border: 1px solid transparent;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
    border: 1px dashed var(--primary-color);
    background: none;
    color: var(--primary-color)!important;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected .tree-title {
    color: var(--primary-color)!important;
}

.tree-holder {
    width: 100%;
    height: calc(100vh - 350px);
    position: relative;
    overflow: auto;
    flex-grow: 2;
}

.treeview-origmod-cols {
    margin-bottom: 10px;
    margin-left: 13px;
    color: var(--dark-font-color);
}

.change-details {
    height: 25px;
    padding-top: 2px;
    padding-left: 10px;
    margin-left: 15px;
    padding-bottom: 2px;
    margin-bottom: 10px;
    border: 1px dashed var(--secondary-color);
    overflow-x: auto;
}

.change-details::-webkit-scrollbar {
    width: 8px;
}

.change-details::-webkit-scrollbar-track {
    background-color: var(--invert-font-color);
}

.change-details::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: var(--secondary-color-lowalpha);
}





.change-details-breaking {
    border: 1px dashed var(--error-color);
    background-color: var(--error-color-verylowalpha);
}

.tree-scroller {
    height: calc(100vh - 350px);
    overflow-y: auto
}

.diff-view {
    height: calc(100vh - 350px);
    overflow-y: auto
}


.tree-scroller::-webkit-scrollbar {
    width: 8px;
}

.tree-scroller::-webkit-scrollbar-track {
    background-color: var(--invert-font-color);
}

.tree-scroller::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: var(--secondary-color-lowalpha);
}

section.tree-nothing-selected {
    width: 100%;
    height: 500px;
}

.nothing-selected-icon {
    text-align: center;
    width: 400px;
    margin: 100px auto;
    color: var(--secondary-color-lowalpha);
    text-transform: uppercase;
}
.nothing-selected-icon > .icon {
    font-size: 100px;
}


section.tree-selected-change {
    animation: fadeIn 1s;
}

@keyframes fadeIn{
    from { opacity: 0; }
    to   { opacity: 1; }
}
